@{
    ViewData["Title"] = "@ViewBag.Username";
}
<img src='@ViewBag.foto' alt="FotoUser">
<div>
    <h5>@ViewBag.Username</h5>
    <h5>@ViewBag.Biografia</h5>
    <h5>Última vez visto en @ViewBag.Point</h5>
</div>