@{
    ViewData["Title"] = "Perfil";
}


<button type="submit" class="settings">
    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 512 512">
    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="44" d="M358.62 129.28L86.49 402.08L70 442l39.92-16.49l272.8-272.13zm54.45-54.44l-11.79 11.78l24.1 24.1l11.79-11.79a16.51 16.51 0 0 0 0-23.34l-.75-.75a16.51 16.51 0 0 0-23.35 0"/></svg>
</button>
<img src="@ViewBag.foto" alt="FotoUser">

<!-- en css hacerle el fondo -->
<h2>@ViewBag.Username</h2> <!-- acá al lado tiene que estar el lapiz para editar la info -->
<h5>@ViewBag.Email</h5>
<h5>@ViewBag.Telefono</h5>
<h5>@ViewBag.Biografia</h5>


<h2>Ajustes</h2>
<button class="ajustes">
    <a href='@Url.Action("Permisos", "Account")'>Permisos</a>
</button>
<button class="ajustes">
    <a href='@Url.Action("MenuOrbit", "OrbitController")'>Orbits</a>
</button>
<button class="ajustes">
    <a href='@Url.Action("LogOut", "Account")'>Cerrar Sesión</a>
</button>
    